doctype html
html(ng-app='libraryApp')
    head
        link(href='/bower_components/bootstrap-css/css/bootstrap.min.css', rel='stylesheet')
        link(href='/bower_components/bootstrap-css/css/bootstrap-theme.min.css', rel='stylesheet')
        script(src='/bower_components/angular/angular.js')
        script(src='/js/core.js')
        script(src='/js/controllers/main.js')
        script(src='/js/services/libraryBooks.js')
        style.
            .bottom-margin{
                margin-bottom:30px;
            }
    body(ng-controller='mainController')
        div(class='container')
            h1(class='text-center bottom-margin') Personal Library
            div(class='input-group bottom-margin')
                input(type='text' class='form-control' placeholder='ISBN-10' ng-model='formData.text')
                span(class='input-group-btn')
                    button(class='btn btn-primary', type='button', ng-click='createBook()') Fetch My Book!
            div(class='input-group bottom-margin')
                div(class='input-group-addon')
                    span(class='glyphicon glyphicon-search', aria-hidden='true')
                input(type='text', class='form-control', placeholder='Search Library' ng-model='lib.book')
            table(class='table table-striped')
                thead
                    tr
                        th Title
                        th Author
                        th Publisher
                        th Subject
                        th Remove
                tbody
                    tr(ng-repeat='book in books | filter:lib')
                        td {{book.book}}
                        td {{book.author}}
                        td {{book.publisher}}
                        td {{book.subject}}
                        td
                            button(class='btn btn-danger', ng-click='deleteBook(book._id)') Remove
