<!DOCTYPE>
<html ng-app="libraryApp">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/bower_components/bootstrap-css/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/bower_components/bootstrap-css/css/bootstrap-theme.min.css">
    
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/js/core.js"></script>
    <script src="/js/controllers/main.js"></script>
    <script src="/js/services/libraryBooks.js"></script>
</head>
<body>
    <div class="container" ng-controller="mainController">
        <center><h1>Personal Library</h1></center>
    <br>
        <center><input type="text" placeholder="ISBN" ng-model="formData.text" /></center>
        <br>
        <center><button class="btn btn-primary" ng-click="createBook()">Fetch My Book!</button></center>
        <br>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Genre</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="book in books">
                <td>{{book.book}}</td>
                <td>{{book.author}}</td>
                <td>{{book.publisher}}</td>
                <td>{{book.genre}}</td>
                <td><button class="btn btn-danger" ng-click="deleteBook(book._id)">Remove</button></td>
            </tr>
        </tbody>
    </table>
    </div>
</body>
</html>
