<!DOCTYPE>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<title>Personal Library</title>
</head>
<body>
    <div class="container">
    <h1>Personal Library</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Genre</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <!--populate with some dummy data for now-->
            <tr>
                <td>A Great Adventure</td>
                <td>John Smith</td>
                <td>Random House</td>
                <td>Fiction</td>
            </tr>
        </tbody>
    </table>
    </div>
</body>
</html>
